<ion-view view-title="Tentang Longkir">
    <ion-content class="padding">
        <h2>Tentang Longkir</h2>

        <p><strong>Apa itu Longkir?</strong></p>
        <p>Longkir atau Lihat ongkos kirim adalah aplikasi sederhana yang digunakan untuk melihat tarif ongkos kirim dengan menggunakan kurir JNE, POS dan TIKI</p>

        <p><strong>Bagaimana cara mendapatkan data ongkos kirim?</strong></p>
        <p>Data didapatkan dari api rajaongkir.com</p>

        <p><strong>Apa pesan untuk pengguna aplikasi ini?</strong></p>
        <p>Semoga aplikasi ini bermanfaat :)</p>

        <h2>Cara menggunakan Longkir</h2>
        <p>1. Masuk kebagian tab ongkir</p>
        <p>2. Pilih asal dan tujuan pengiriman barang</p>
        <p>3. Isi berat barang yang dikirim</p>
        <p>4. Pilih kurir</p>
        <p>Cukup simple kan ... :)</p>
    </ion-content>
</ion-view>