<ion-view view-title="Ongkir">
    <ion-content>
        <form ng-submit="addItem(params)">
            <div class="list">
                <div class="item item-divider">
                    Asal
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Pilih Propinsi
                    </div>
                    <select ng-model="params.idpropinsi" ng-change="showSelectValueProvince(params.idpropinsi)" required>
                        <option ng-repeat="propinsi in semua_propinsi" value="{{propinsi.propinsi_id}}">{{propinsi.nama_propinsi}}</option>
                    </select>
                </label>
                <label class="item item-input item-select" id="displayKota">
                    <div class="input-label">
                        Pilih Kota
                    </div>
                    <select ng-model="params.idkota" ng-change="showSelectValueCity(params.idkota)" required>
                        <option ng-repeat="kota in semua_kota" value="{{kota.kota_id}}">{{kota.type_kota}} {{kota.nama_kota}}</option>
                    </select>
                </label>

                <div class="item item-divider">
                    Tujuan
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Pilih Propinsi
                    </div>
                    <select ng-model="params.idpropinsi1" ng-change="showSelectValueProvince1(params.idpropinsi1)" required>
                        <option ng-repeat="propinsi1 in semua_propinsi1" value="{{propinsi1.propinsi_id}}">{{propinsi1.nama_propinsi}}</option>
                    </select>
                </label>
                <label class="item item-input item-select" id="displayKota1">
                    <div class="input-label">
                        Pilih Kota
                    </div>
                    <select ng-model="params.idkota1" ng-change="showSelectValueCity1(params.idkota1)" required>
                        <option ng-repeat="kota1 in semua_kota1" value="{{kota1.kota_id}}">{{kota1.type_kota}} {{kota1.nama_kota}}</option>
                    </select>
                </label>

                <div class="item item-divider">
                    Berat Kiriman (gram)
                </div>
                <label class="item item-input">
                    <input ng-model="params.berat" ng-change="showBerat(params.berat)" type="number" placeholder="Berat Kiriman (gram)" required>
                </label>

                <div class="item item-divider">
                    Pilih Kurir
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Nama Kurir
                    </div>
                    <select ng-model="params.kurir" ng-change="showChooseCourier(params.kurir)" required>
                        <option ng-repeat="dataKurir in kurirList" value="{{dataKurir.value}}">{{dataKurir.text}}</option>
                    </select>
                </label>

                <div class="padding text-center">
                    <input type="submit" class="button button-positive" name="Submit" value="Lihat Ongkir">
                </div>
            </div>
        </form>
    </ion-content>
    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">Ongkir</h1>
                <button class="button button-clear button-primary" ng-click="closedModal()">Tutup</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list" ng-repeat="siip in dataongkir">
                    <div class="item item-thumbnail-left">
                        <img src="{{siip.logoKurir}}">
                        <h2>{{siip.namaKurir}}</h2>
                        <h3>{{siip.namaLayanan}}</h3>
                        <h4>{{siip.deskripsiLayanan}}</h4>
                        <h4>{{siip.estimasiPengiriman}}</h4>
                        <p>{{siip.biayaOngkir | currency : "Rp. "}}</p>
                    </div>

                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>